In [2]:
print("Adios Mundo!")

Adios Mundo!

In [3]:
'''
Estes es mi primer programa
version 1.0
Fecha
Autor
'''

print("Hola Mundo!!")
print("Adios Mundo!!")

Hola Mundo!!
Adios Mundo!!

# Variable

In [9]:
variable = 123

In [10]:
variable

123

In [11]:
cadena = "Hola este es mi primer programa en python"

In [13]:
type(cadena)

str

In [14]:
cadena[1]

'o'

In [15]:
len(cadena)

41

In [17]:
var1 = "Programa"
var2 = "Python"
var3 = var1 + " " + var2
print(var3)

Programa Python

In [18]:
var4 = "Brayan"*5
print(var4)

BrayanBrayanBrayanBrayanBrayan

In [19]:
a = 5
b = 2.3
c = a - b
print(c)

2.7

In [20]:
c = a * b
print(c)

11.5

In [23]:
# Booleano

bool1 = False
print(bool1)

False

In [24]:
x = 20
var = x < 10
print(var)

False

In [27]:
x = int(input())
var = x < 10
print(var)

True

In [32]:
# Listas

lista = ["hola", 5, 10.4, "python"]
lista[3]

'python'

In [39]:
lista = ["hola", 5, 10.4, "python", 20, True, ["Programa", "Brando", "sesion01", 1]]
lista[6:8]

[['Programa', 'Brando', 'sesion01', 1]]

In [40]:
lista[2:6]

[10.4, 'python', 20, True]

In [45]:
lista[6][1]

'Brando'

In [46]:
len(lista)

7

In [47]:
lista[-1]

['Programa', 'Brando', 'sesion01', 1]

In [48]:
lista1 = [1,2,3,4,5]
lista2 = ["Hola",2,3,4,True]

lista3 = lista1 + lista2

In [49]:
lista3

[1, 2, 3, 4, 5, 'Hola', 2, 3, 4, True]

In [50]:
lista3.append(20)

In [53]:
lista3.append(False)

In [54]:
lista3

[1, 2, 3, 4, 5, 'Hola', 2, 3, 4, True, 20, False]

In [55]:
lista3.count("Hola")

1

In [61]:
lista4 = list("Hola Mundo este es python")
lista4

['H',
 'o',
 'l',
 'a',
 ' ',
 'M',
 'u',
 'n',
 'd',
 'o',
 ' ',
 'e',
 's',
 't',
 'e',
 ' ',
 'e',
 's',
 ' ',
 'p',
 'y',
 't',
 'h',
 'o',
 'n']

In [58]:
type(lista3)

list

In [57]:
# Tuplas

tupla = (1,2,3,4,5,True,["Hola", "Python"])
tupla

(1, 2, 3, 4, 5, True, ['Hola', 'Python'])

In [59]:
type(tupla)

tuple

In [60]:
tupla[-2]

True

In [74]:
tupla1 = tuple("Hola Mundo este")
tupla1

('H', 'o', 'l', 'a', ' ', 'M', 'u', 'n', 'd', 'o', ' ', 'e', 's', 't', 'e')

In [ ]:
# Diccionario

dict1 = {
    "hola": "python",
    "año": "python",
    "mes": "python",
    "lista": [1,2,3,4,5],
    10:"numero"
}

print(dict1, type(dict1))

{'hola': 'python', 'año': 'python', 'mes': 'python', 'lista': [1, 2, 3, 4, 5], 10: 'numero'} <class 'dict'>

In [ ]:
dict1["hola"]

'python'

In [ ]:
dict1.keys()

dict_keys(['hola', 'año', 'mes', 'lista', 10])

In [8]:
dict1[int(input())]

'numero'

In [9]:
dict1.keys()

dict_keys(['hola', 'año', 'mes', 'lista', 10])

In [10]:
dict1["dia"] = 8
dict1

{'hola': 'python',
 'año': 'python',
 'mes': 'python',
 'lista': [1, 2, 3, 4, 5],
 10: 'numero',
 'dia': 8}

In [11]:
print(dict1)

{'hola': 'python', 'año': 'python', 'mes': 'python', 'lista': [1, 2, 3, 4, 5], 10: 'numero', 'dia': 8}

# INTRODUCCIONES DE CONTROL

In [18]:
## IF

x = int(input())

if x<0:
    print("Valor Negativo")
elif x<10:
    print("Valor menor a 10")
elif x<20:
    print("Valor menor a 20")
else:
    print("Valor Positivo")

Valor Positivo

In [19]:
## WHILE

i = 1

while i<6:
    print(i)
    i = i + 1

1
2
3
4
5

In [21]:
## FOR

frutas = ["manzana", "fresa", "melon"]

for x in frutas:
    if x not in "fresa":
        print(x)

manzana
melon

In [22]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [5]:
numero = int(input())
estrella = "*"

for x in range(numero+1):
    if x>0:
        print(estrella*x)

*
**
***
****

In [6]:
numero = int(input())
estrella = "*"

for x in range(1, numero+1):
    print(estrella*x)

*
**
***
****
*****
******

In [7]:
for x in range(3, 10):
    print(x)

3
4
5
6
7
8
9

# FUNCIONES

In [12]:
def mi_funcion():
    print("Hola esta mi primera funcion!")

In [13]:
mi_funcion()

Hola esta mi primera funcion!

In [14]:
def mi_funcion(nombre):
    print("Hola mi nombre es "+ nombre)
    print(f"Hola mi nombre es, {nombre}")

In [16]:
mi_funcion("Brando")

Hola mi nombre es Brando
Hola mi nombre es, Brando

In [22]:
def mi_funcion_pais(pais = "Perú"):
    print("Hola mi nombre es "+ pais)
    print(f"Hola mi nombre es, {pais}")

In [23]:
mi_funcion_pais()

Hola mi nombre es Perú
Hola mi nombre es, Perú

In [68]:
def multipl(a,b,c):
    resultado = a*b*c
    print(f"El resultado de la multiplicacion es: {resultado}")
    return resultado

In [69]:
multipl(2,3,5)

El resultado de la multiplicacion es: 30

30

In [70]:
var = multipl(2,3,5)
var_suma = var + 100
print(var_suma)

El resultado de la multiplicacion es: 30
130

In [73]:
def suma(*args):
    total = 0
    for numero in args:
        total = total + numero
    return total

In [74]:
print(suma(1,2,3,4,5))
print(suma(10,12,13,14,15))
print(suma(10,12,13,14,15))

15
64
64

In [79]:
def mostrar_informacion(**kwargs):
    for clave, valor in kwargs.items():
        print(f"{clave}:{valor}")

In [80]:
mostrar_informacion(nombre="Brando", edad=30, ciudad="Lima")

nombre:Brando
edad:30
ciudad:Lima

In [81]:
mostrar_informacion(nombre="Saenz", edad=27, ciudad="Cuenca")

nombre:Saenz
edad:27
ciudad:Cuenca

# PROGRAMACION ORIENTADA A OBJETOS

In [82]:
class animal:
    pass

In [84]:
perro = animal()
gato = animal()

perro.nombre = "Argos"
gato.nombre = "Michi"
perro.edad = 10
gato.edad = 8

In [85]:
perro.nombre

'Argos'

In [93]:
class animal:
    def __init__(self,at_nombre, at_edad):
        self.nombre = at_nombre
        self.edad = at_edad

    def hacer_sonido(self):
        return "Cualquier sonido"

In [94]:
mi_perro = animal("Oso", 5)

In [95]:
mi_perro.nombre

'Oso'

In [96]:
mi_perro.edad

5

In [97]:
mi_perro.hacer_sonido()

'Cualquier sonido'

In [98]:
class Perro(animal):
    def hacer_sonido(self):
        return "Guau"

In [99]:
otro_perro = Perro("Rex", 7)

In [100]:
otro_perro.nombre

'Rex'

In [104]:
otro_perro.edad

7